.bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f7f7f7;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  z-index: 100;
  transition: background-color 0.3s ease; /* Fade efekti */
}

.bottombar.dark-mode {
  background-color: #4b4b4b;
}

.bottombar-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 0.5rem;
}

.icon-item:hover {
  transform: scale(1.1);
}

.icon-svg {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transition: transform 0.2s ease;
}
